*{
    margin: 0;
    padding: 0;
}

.box-1{
    text-align: center;
    background-image: linear-gradient(to right, red, green, yellow);
    text-decoration: underline;
    font-size: 40px;
}

.box-2{
    width: 1000px;
    height: 80px;
    background-color: aquamarine;
    border: 5px solid red;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 10px;

}
ul{
    margin-left: 40%;
    font-size: 22px;
}

.box-3{
    width: 1510px;
    height: 350px;
    border: 5px solid rgba(31, 161, 31, 0.856);
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: rgba(35, 209, 209, 0.719);
    border-radius: 10px;
    margin-top: 10px;
}

.box{
    width: 400px;
    height: 140px;
    border: 4px solid rgba(57, 165, 57, 0.856);
    border-radius: 10px;
    margin: 5px ;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px;
    background-color: aqua;
}
#box-3-4{
    padding-left: -5px;
}
.box-4{
    text-align: center;
    background-image: linear-gradient(to right, red, yellow, red);
    text-decoration: underline;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 800;
}

.box-5{
    width: 100%;
    height: 250px;
    margin-top: 15px;
    border: 3px solid rgba(38, 167, 38, 0.801);
    background-image: radial-gradient(rgba(42, 42, 167, 0.76), rgba(43, 177, 43, 0.836));
    display: flex;
    justify-content:center;
}
.box-5-1{
    width: 300px;
    height: 150px;
    background-color: yellow;
    border: 3px solid red;
    border-radius: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin: 45px;
    text-decoration: underline;
    padding: 10px;
}

.grid{
    width: 100%;
    height: 350px;
    display: grid;
    border: 2px solid black;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 125px;
    grid-template-rows: 50px 100px 135px 1fr;
}

.cell{
    border: 2px solid red;
    margin: 2px;
    text-align: center;
}

#cell1{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(236, 96, 96);
    color: white;
    font-weight: 1000;
    font-size: 35px;
}
#cell2{
    background-color: rgb(90, 212, 90);
    color: white;
    font-weight: 1000;
    font-size: 32px;
    padding: 15px;
}
#cell3{
    background-color: rgb(62, 169, 219);
    color: white;
    font-weight: 1000;
    font-size: 32px;
    padding: 15px;
}
#cell4{
    background-color: rgb(50, 50, 240);
    color: white;
    font-weight: 1000;
    font-size: 32px;
    padding: 10px;
}
#cell5{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:  #FFC300 ;
    color: white;
    font-weight: 1000;
    font-size: 35px;
    padding: 10px;
}

#cell6{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color:  rgba(0, 0, 0, 0.692) ;
    color: white;
    font-weight: 700;
    font-size: 19px;
    text-align: left;
    letter-spacing: 2;
}

.border hr{
    border: 2px do black;
}

#cell7{
    background-color: rgba(57, 151, 240, 0.884);
    color: black;
    font-weight: 1000;
    font-size: 32px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
}
